
.container {
    position: relative;
    background-image: url('../../assets/backgroundHome.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 ;
   
    display: flex;
    height: 95vh;
    gap: 1rem;
    padding: 4rem;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 1rem  1rem 0;

    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }
  
  .containerProfile {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .containerApresentation {
    max-width: 28.125rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  
    h1{
      font-size: 3rem;
       font-weight: 800;
      Strong{
         font-weight: 800;
         background: linear-gradient(90deg, var(--grey-200), var(--purple-500));
         background-clip: text;
         -webkit-background-clip: text;
         color: transparent;
         -webkit-text-fill-color: transparent
      }
    }
  
    h2{
      font-size: 1.25rem;
      font-weight: 400;
      color: var(--grey-200);
    } 
  } 
  .containerTechnology{
    display: flex;
    flex-wrap: wrap;
    max-width: 28.125rem;
    gap: 1rem;
  }



  
  